# Upgrade or install python 3.9 before doing anything else.
# May need to do pip3 installs of kivy, pillow, prettyprint and pywebview

# For development only:
flake8
isort
mypy
pip
# prettyprint     # pprint

# Used in the app:
# Install name  # Import name
arrow             # arrow uses a deprecated timezone module
kivy
pathlib
# pillow          # PIL
# pywebview       # webbrowser
requests
tornado
tzlocal
